# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyd
*.so
*.egg-info/
dist/
build/
.cache/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.ipynb_checkpoints/
*.log

# Virtual environments
.venv/
venv/
env/

# IDEs
.idea/
.vscode/
*.iml

# =========================
# STM32CubeIDE / Eclipse
# =========================
.metadata/
.recommenders/
.settings/
.project
.cproject
.classpath

# Build outputs
Debug/
Release/
**/Debug/
**/Release/

# =========================
# LTspice
# (ajustable según tu flujo)
# =========================
*.raw
*.op.raw
*.log
*.net
*.fft
*.plt
*.asy.bak
*.asc.bak

# =========================
# KiCad
# =========================
**/*-backups/
**/*.bak
**/*.kicad_prl
**/*.kicad_pro-bak
**/*_autosave-*
**/*.tmp
**/.cache/
